@import '~antd/dist/antd.css';

header {
  position: fixed;
  z-index: 1000;
  height: 64px;
  padding: 0 32px;
  width: 100%;
  background: #F8FAFE;
  transition: box-shadow .3s ease-out, background .3s ease-out;
  
  &.show-shadow{
    background: #FDFDFD;
    box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
  }
  .logo {
    background: url('./logo.svg') no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 40px;
    height: 64px;
    &-wrapper {
      display: inline-block;
      height: 100%;
      line-height: 64px;
      span {
        line-height: 64px;
        font-size: 20px;
        margin-right: 18px;
        white-space: nowrap;
        color: rgba(0,0,0,.9);
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .button{
    float: right;
    height: 100%;
    line-height: 64px;
    
    .ant-btn{
      border-radius: 32px;
      font-size: 14px;
      height: 32px;
    }
  }
}

.App {
  padding-top: 75px;
  width: 50%;
  margin: auto;
}

.Data-Entry {
  .ant-card {
    margin-top: 1em;
  }

  .submit {
    margin-top: 1em;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.margin-bottom {
  margin-bottom: 1em;
}

.Result {
  margin-top: 2em;
  // background: #ececec;
  border: 1px solid black;
  font-size: 12px;

  .section-0 {
    padding: 0.25em;
  }

  .section-1 {
    
    background: #ececec;
    padding: 0.25em;
    margin-bottom: 1em;

    div.ant-col div.ant-row {
      // background-color: yellow;
      margin-right: 5px;

      div.ant-col:first-child {
        // background-color: yellowgreen;
        // font-size: 12px;
        font-weight: normal;
      }
    }
  }

  .section-2 {
    padding: 0.25em;
    margin-bottom: 1em;

    &> div.ant-row:first-child {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .ant-row {
      text-align: right;
    }

    div.ant-row:first-child {
      text-align: left;
    }
    
    .ant-row .ant-col {
      text-align: right;
    }

    &> div.ant-row .ant-col:nth-child(1), &> div.ant-row .ant-col:nth-child(1) .ant-col:nth-child(2) {
      text-align: left;
      // background-color: red;
    }

    &> div.ant-row .ant-col:nth-child(5), &> div.ant-row .ant-col:nth-child(5) .ant-col:nth-child(2) {
      text-align: left;
      // background-color: red;
    }

    &> div.ant-row .ant-col:nth-child(4) {
      // background-color: yellow;
      padding-right: 3.5em!important;
    }

    .ant-row .ant-col:first-child {
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    .section-2 {
      margin-top: 2em;
      padding: 0.25em;
      margin-bottom: 1em;

      .ant-row {
        text-align: left;
      }

      &> div.ant-row:first-child {
        text-align: left;
        display: none;
      }

      &> div.ant-row .ant-col:nth-child(5), &> div.ant-row .ant-col:nth-child(5) .ant-col:nth-child(2) {
        text-align: right;
        // background-color: red;
      }
  
      &> div.ant-row .ant-col:nth-child(4) {
        // background-color: yellow;
        padding-right: 4px!important;
        padding-left: 4px!important;
      }

      &> div.ant-row {
        text-align: left;
        margin-top: 0.5em;
        border-top: 1px solid black;
      }

      .ant-row .ant-col:first-child {
        text-align: left;
      }
    }
  }

  .section-3 {
    margin-top: 2em;
    padding: 0.25em;
    margin-bottom: 1em;

    .ant-row {
      text-align: right;
    }

    .ant-row .ant-col:first-child {
      text-align: left;
    }
  }


  @media screen and (max-width: 768px) {
    .section-3 {
      margin-top: 2em;
      padding: 0.25em;
      margin-bottom: 1em;

      .ant-row {
        text-align: left;
        border-top: 1px solid black;
      }

      .ant-row .ant-col:first-child {
        text-align: left;
      }
    }
  }

}

.Details {
  margin-top: 2em;
  background: #F8FAFE;
}

@media screen and (max-width: 1000px) {
  .App {
    padding-top: 75px;
    width: 95%;
    margin: auto;
  }

  .Data-Entry .ant-col {

    .submit {
      position: relative;
      margin: 1em 0 0;
    }
  }
}

